<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +381 21 1101100</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@pays.rs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a ng-click="translate('rs')" class="hover"><img src="images/sr.jpg"></a></li>
                            <li><a ng-click="translate('en')" class="hover"><img src="images/uk.jpg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="#/"><img src="images/home/logo.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-user"></i> {{ 'ACCOUNT' | translate}}</a></li>
                            <li><a href="#/wishlist"><i class="fa fa-star"></i> {{ 'WISHLIST' | translate}} <span
                                    class="badge alert-warning">{{wishlistItems}}</span></a></li>
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> {{ 'SHOPPING' | translate}}</a>
                            </li>
                            <li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{ 'CART' | translate}} <span
                                    class="badge alert-success">{{price}}</span></a></li>
                            <li><a href="#/checkout"> {{ 'PAY' | translate}}</a></li>
                            <li><a href="#/login"><i class="fa fa-lock"></i> {{ 'LOGIN' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="index.html" class="active">Početna</a></li>
                            <li class="dropdown"><a href="#">Prodavnica<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Proizvodi</a></li>
                                    <li><a href="product-details.html">Detalji proizvoda</a></li>
                                    <li><a href="checkout.html">Kupovina</a></li>
                                    <li><a href="cart.html">Korpa</a></li>
                                    <li><a href="login.html">Ulaz</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Lista blogova</a></li>
                                    <li><a href="blog-single.html">Jedan blog</a></li>
                                </ul>
                            </li>
                            <li><a href="404.html">Za prodavce</a></li>
                            <li><a href="#/distributor/1/">Za distributere</a></li>
                            <li><a href="contact-us.html">Kontaktirajte nas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header><!--/header-->

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/pays">{{ 'HOME' | translate}}</a></li>
                <li class="active">{{ 'CART' | translate }}</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">{{ 'FARMER' | translate}}</td>
                    <td class="price">{{ 'LOCATION' | translate}}</td>
                    <td class="quantity">{{' EMAIL' | translate}}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="cart_price">
                        <p ng-bind-html="farmerName | html"></p>
                    </td>
                    <td class="cart_product">
                        <p ng-bind-html="farmerLocation | html"></p>
                    </td>
                    <td class="cart_quantity">
                        <p ng-bind-html="farmerEMail | html"></p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">{{ 'ITEM' | translate}}</td>
                    <td class="description"></td>
                    <td class="price">{{ 'PRICE' | translate}}</td>
                    <td class="quantity">{{ 'ITEM_AMOUNT' | translate}}</td>
                    <td class="total">{{ 'MONEY_AMOUNT' | translate}}</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cartItems">
                    <td class="cart_product">
                        <a href=""><img src="{{item.image}}" alt="{{item.itemName}}" style="width:128px;height:128px;"></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="">{{item.itemName | translate}}</a></h4>

                        <p>{{'NON_ORGANIC' | translate}}</p>
                    </td>
                    <td class="cart_price">
                        <p>{{item.itemPrice}} RSD / {{item.itemMeasure}}</p>
                    </td>
                    <td class="cart_quantity">

                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up cursor-pointer" ng-click="addMore(item.itemId)"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity" ng-model="item.itemNum"
                                   ng-change="setAmount(item.itemId,item.itemNum)"
                                   autocomplete="off" size="2">
                            <a class="cart_quantity_down cursor-pointer" ng-click="less(item.itemId)"> - </a>
                        </div>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price">{{item.itemPrice * item.itemNum}} RSD</p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete" ng-click="deleteCartItem(item.itemId)"><i
                                class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="total_area">
                    <ul>
                        <li>{{ 'CART' | translate}} <span>{{totalPrice}} RSD</span></li>
                        <li><input type="checkbox"
                                   ng-model="isShipped" ng-click="changeShipment(isShipped)">{{ 'DELIVERY' | translate}}
                            ({{ 'DELIVERY_OPTION' | translate}}) <span>{{shipping}} RSD</span></li>
                        <li>{{ 'TOTAL' | translate}} <span>{{total}} RSD</span></li>
                    </ul>

                    <script type="text/ng-template" id="emptyCartModal.html">
                        <div class="modal-header">
                            <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                            <h4 class="modal-title">{{ 'EMPTY_CART' | translate}}</h4>
                        </div>
                        <div class="modal-body">
                            <p>{{ 'DIALOG_EMPTY_CART_QUESTION' | translate}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default check_out"
                                    ng-click="emptyCart()">{{ 'YES' |
                                translate}}
                            </button>
                            <button type="button" class="btn btn-default check_out" ng-click="cancelModal()">{{ 'NO'
                                |
                                translate}}
                            </button>
                        </div>
                    </script>

                    <a class="btn btn-default update" ng-click="goBack()">{{ 'UPDATE_CART' | translate}}</a>
                    <a class="btn btn-default check_out" href="#/checkout">{{ 'PAY' | translate}}</a>
                    <a class="btn btn-default check_out" ng-click="openEmptyCartModal()">{{
                        'EMPTY_CART' | translate}}</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->

<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Online Help</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Order Status</a></li>
                            <li><a href="">Change Location</a></li>
                            <li><a href="">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Quock Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">T-Shirt</a></li>
                            <li><a href="">Mens</a></li>
                            <li><a href="">Womens</a></li>
                            <li><a href="">Gift Cards</a></li>
                            <li><a href="">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Privecy Policy</a></li>
                            <li><a href="">Refund Policy</a></li>
                            <li><a href="">Billing System</a></li>
                            <li><a href="">Ticket System</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Company Information</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Store Location</a></li>
                            <li><a href="">Affillate Program</a></li>
                            <li><a href="">Copyright</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>About Shopper</h2>

                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address"/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                            <p>Get the most recent updates from <br/>our site and be updated your self...</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>

                <p class="pull-right">Designed by <span><a target="_blank"
                                                           href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->