<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#/">{{ 'HOME' | translate}}</a></li>
                <li class="active"> {{ 'PAY' | translate}}</li>
            </ol>
        </div>
        <!--/breadcrums-->
        <div ng-if="userData">
            <hr class="orangehr">
            <row class="col-sm-12">
                <div class="col-sm-3 col-sm-offset-1">
                    <img src="images/eMS.jpg" style="max-width : 280px;margin-top: 35px;">
                </div>
                <div class="col-sm-offset-4 col-sm-3">
                    <img src="images/CElogo.png" style="max-height: 150px">
                </div>
            </row>
            <hr class="orangehr">
            <row class="col-sm-12">
                <div class="col-sm-12 text-center mb25">
                    <h5><strong>{{paysCompanyInfo.title1}}</strong></h5>
                    <h4><strong>{{paysCompanyInfo.title2}}</strong></h4>

                    <p>{{paysCompanyInfo.description}}</p>
                </div>
                <div class="col-sm-3 col-sm-offset-3">
                    <p><strong>{{ 'CLIENT_ADDRESS' | translate}}</strong> : {{paysCompanyInfo.address}}</p>

                    <p><strong>{{ 'CITY' | translate}}</strong> : {{paysCompanyInfo.city}}</p>

                    <p><strong>{{ 'PHONE_NUMBER' | translate}}</strong> : {{paysCompanyInfo.phone}}</p>
                </div>
                <div class="col-sm-6">

                    <p><strong>{{ 'PIB' | translate}}</strong> : {{paysCompanyInfo.pib}}</p>

                    <p><strong>{{ 'BANK_NUMBER' | translate}}</strong> : {{paysCompanyInfo.bankNum}}</p>
                </div>
            </row>
            <hr class="orangehr">
            <row class="col-sm-12">
                <h2 class="text-center">{{'ORDER_DATA_SUFFIX' | translate}}</h2>
                <div class="col-sm-12">
                    <table class="table table-condensed">
                        <thead>
                        <th>{{ 'ORDINAL' | translate}}</th>
                        <th>{{ 'PRODUCT_NAME' | translate}}</th>
                        <th>{{ 'PRODUCT_QUANTITY' | translate}}</th>
                        <th>{{ 'PRICE_PER_UNIT' | translate}}</th>
                        <th>{{ 'TAX' | translate}}</th>
                        <th>{{ 'TAX_AMOUNT' | translate}}</th>
                        <th>{{ 'PRODUCT_TOTAL_PRICE' | translate}}</th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in orderData.items.items">
                            <td>{{$index+1}}</td>
                            <td>{{item.itemName.localization[currentLang]}}</td>
                            <td>{{item.itemNum}}</td>
                            <td>{{item.itemPriceNoTax}}</td>
                            <td>{{item.tax}} %</td>
                            <td>{{item.totalTax}}</td>
                            <td>{{item.itemPrice}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-5 pull-right text-right fs18">
                    <div><strong>{{ 'TOTAL' | translate}} ({{ orderData.currency.code}}): </strong> {{
                        orderData.totalProductPrice}}
                    </div>
                    <div><strong>{{ 'TRANSPORT_PRICE' | translate}} ({{ orderData.currency.code}}): </strong>
                        {{orderData.transportPrice}}
                    </div>
                    <div><strong>{{ 'TOTAL_PAY_PRICE' | translate}} ({{ orderData.currency.code}}): </strong> {{
                        orderData.totalPrice}}
                    </div>
                </div>
            </row>

            <hr class="orangehr">

            <row class="col-sm-12">
                <div class="col-sm-1">
                    <div class="text-center">{{ 'WHO' | translate}}</div>
                </div>
                <div class="col-sm-11 text-center">
                    <div>
                        <strong>{{ 'NAME_SURNAME' | translate}}: </strong>{{userData.privateSubject.name}}
                        {{userData.privateSubject.lastName}}
                    </div>
                    <div>
                        <strong>{{ 'PHONE_NUMBER' | translate}}: </strong>{{userData.privateSubject.phone}}
                    </div>
                    <div>
                        <strong>{{ 'EMAIL' | translate}}: </strong>{{userData.email}}
                    </div>
                </div>
            </row>

            <hr class="orangehr">

            <row class="col-sm-12">
                <div class="col-sm-1">
                    <div class="text-center">{{ 'WHERE' | translate}}</div>
                </div>
                <div class="col-sm-11 text-center">
                    <div ng-if="address">
                        <strong>{{ 'CLIENT_ADDRESS' | translate}}: </strong>{{address}}
                    </div>
                    <div ng-if="addressJson">
                        <div>
                            <strong>{{ 'CITY' | translate}}: </strong>{{addressJson.city}} &nbsp;
                            <strong>{{ 'POSTAL_CODE' | translate}}: </strong>{{addressJson.postalCode}}
                        </div>
                        <div>
                            <strong>{{ 'STREET' | translate}} </strong>{{addressJson.street}} &nbsp;
                            <strong>{{ 'HOUSE_NUMBER' | translate}} </strong>{{addressJson.houseNumber}}
                        </div>
                        <div>
                            <strong>{{ 'FLOOR' | translate}} </strong>{{addressJson.floor}} &nbsp;
                            <strong>{{ 'APARTMENT' | translate}} </strong>{{addressJson.apartmentNumber}}
                        </div>
                    </div>
                </div>
            </row>

            <hr class="orangehr">

            <row class="col-sm-12">
                <div class="col-sm-1">
                    <div class="text-center">{{ 'WHEN' | translate}}</div>
                </div>
                <div class="col-sm-11">
                    <div class="col-sm-12" ng-if="orderData.predefinedLocation == null">
                        <div class="text-right col-sm-3">{{ 'DELIVERY_DATE' | translate}}</div>
                        <div class="col-sm-9">
                            <p class="input-group">
                                <input type="text" class="form-control" datepicker-popup="{{dateFormat}}"
                                       ng-model="deliveryDate.date"
                                       is-open="datePopup.opened" min-date="minDate" max-date="maxDate"
                                       datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                                       ng-required="true" close-text="Close"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="openDate()"><i
                                                class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                            </p>
                        </div>
                        <div class="text-right col-sm-3">{{ 'DELIVERY_TIME' | translate}}</div>
                        <div class="col-sm-9">
                            <div class="col-sm-offset-2 col-sm-3">
                                <table>
                                    <tr>
                                        <div class="left_padding_35px">{{ 'FROM' | translate}}</div>
                                    </tr>
                                    <tr>
                                        <div class="text-center">
                                            <timepicker ng-model="fromTime.time" hour-step="hstep"
                                                        min="fromTime.minTime" max="fromTime.maxTime"
                                                        minute-step="mstep"
                                                        show-meridian="ismeridian"></timepicker>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-sm-offset-2 col-sm-3">
                                <table>
                                    <tr>
                                        <div class="left_padding_45px">{{ 'TO' | translate}}</div>
                                    </tr>
                                    <tr>
                                        <div class="text-center">
                                            <timepicker ng-model="toTime.time" hour-step="hstep" min="toTime.minTime"
                                                        max="toTime.maxTime" minute-step="mstep"
                                                        show-meridian="ismeridian"></timepicker>
                                        </div>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9 text-center">
                            <div>
                                <strong>{{ 'DELIVERY_DATE' | translate}}: </strong>{{deliveryDate.date | date:
                                dateformat}}
                                <strong>{{ 'FROM' | translate}}: </strong>{{fromTime.time | date: timeFormat}}
                                <strong>{{ 'TO' | translate}}: </strong>{{toTime.time | date:timeFormat}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-if="orderData.predefinedLocation != null">
                        <div class="text-center">
                            <strong>{{ 'DELIVERY_TIME_PREDEFINED_LOCATION' | translate}}: </strong>{{orderData.predefinedLocation.workHours}}
                        </div>
                    </div>
                </div>
            </row>

            <hr class="orangehr">
            <row class="col-sm-12">
                <div class="col-sm-offset-1 col-sm-11">
                    <div class="text-right col-sm-3">{{ 'VALUE' | translate}}</div>
                    <div class="text-right col-sm-5">
                        <div class="text-right col-sm-8 amount-currency-text amount-text">{{ orderData.totalPrice}}
                        </div>
                        <div class="text-left col-sm-3 amount-currency-text">{{ orderData.currency.code}}</div>
                    </div>

                </div>
            </row>

            <hr class="orangehr">

            <row class="col-sm-12">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-11">
                    <div class="text-right col-sm-3">{{ 'NOTE' | translate}}</div>
                    <div class="col-sm-9">
                    <textarea type="text" rows="4" class="col-sm-12"
                              placeholder="{{ 'NOTE_MSG' | translate}} " ng-model="orderData.comment"></textarea>
                    </div>
                </div>
            </row>
            <hr class="orangehr">
            <row class="col-sm-12 ">
                <script type="text/ng-template" id="paysCompanyInfoModal.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                        <h4 class="modal-title">{{ 'PAYS_COMPANY_INFO' | translate}}</h4>
                    </div>
                    <div class="modal-body" style="height: 250px;">
                        <div class="col-sm-12 text-center mb25">
                            <h5><strong>{{paysCompanyInfo.title1}}</strong></h5>
                            <h4><strong>{{paysCompanyInfo.title2}}</strong></h4>

                            <p>{{paysCompanyInfo.description}}</p>
                        </div>
                        <div class="col-sm-6">
                            <p><strong>{{ 'CLIENT_ADDRESS' | translate}}</strong> : {{paysCompanyInfo.address}}</p>

                            <p><strong>{{ 'CITY' | translate}}</strong> : {{paysCompanyInfo.city}}</p>

                            <p><strong>{{ 'PHONE_NUMBER' | translate}}</strong> : {{paysCompanyInfo.phone}}</p>
                        </div>
                        <div class="col-sm-6">
                            <p><strong>{{ 'BUSSINESS_ACT_NUMBER' | translate}}</strong> :
                                {{paysCompanyInfo.activityNum}} </p>

                            <p><strong>{{ 'COMPANY_REG_NUMBER' | translate}}</strong> : {{paysCompanyInfo.companyNum}}
                            </p>

                            <p><strong>{{ 'PIB' | translate}}</strong> : {{paysCompanyInfo.pib}}</p>

                            <p><strong>{{ 'BANK_NUMBER' | translate}}</strong> : {{paysCompanyInfo.bankNum}}</p>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default check_out" ng-click="cancelModal()">{{ 'OK'
                            |
                            translate}}
                        </button>
                    </div>
                </script>
                <script type="text/ng-template" id="offeredGoodsModal.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                        <h4 class="modal-title">{{ 'OFFERED_GOODS' | translate}}</h4>
                    </div>
                    <div class="modal-body" style="height: 250px;">
                        <h3></h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default check_out" ng-click="cancelModal()">{{ 'OK'
                            |
                            translate}}
                        </button>
                    </div>
                </script>
                <script type="text/ng-template" id="termsOfServiceModal.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                        <h4 class="modal-title">{{ 'TERMS_OF_SERVICE' | translate}}</h4>
                    </div>
                    <div class="modal-body" style="height: 450px;">
                        <div style="height: 100%;overflow:scroll;overflow-x: hidden;">
                            <span ng-bind-html="'TERMS_OF_SERVICE_BUYER_TEXT' | translate | htmlSafe"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default check_out" ng-click="cancelModal()">{{ 'OK'
                            |
                            translate}}
                        </button>
                    </div>
                </script>
                <div class="col-sm-offset-4 col-sm-4 mt10">
                    <div class="col-sm-offset-1 col-sm-11 text-center">
                        <input type="checkbox" ng-model="termsAccepted"/><a class="cursor-pointer"
                                                                            ng-click="showTermsOfService()">{{
                        'ACCEPT_TERMS_OF_SERVICE' | translate}}</a>
                    </div>
                    <a class="btn btn-primary btn-lg cart col-sm-12 text-center mt10" ng-disabled="!termsAccepted"
                       ng-click="executePayment()">{{ 'PAY' |
                        translate}}</a>
                </div>
            </row>
            <hr class="orangehr mb100">
        </div>
        <div ng-if="orderData && !userData">
            <h3 class="text-center" style="color:red;">{{ 'NO_LOGIN_CHECKOUT' | translate}}</h3>
        </div>
        <div ng-if="!orderData">
            <h3 class="text-center" style="color:red;">{{ 'NO_ORDER_CREATED' | translate}}</h3>
        </div>

    </div>
</section> <!--/#cart_items-->


<div ng-include="'partials/footer.html'"></div>
