<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div>
        <!--/breadcrums-->

        <div class="step-one">
            <h2 class="text-center">{{ 'ORDER' | translate}} {{orderId}} , {{'ORDER_DATA_SUFFIX' | translate}}</h2>
        </div>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
                <div class="text-center">{{ 'WHO' | translate}}</div>
            </div>
            <div class="col-sm-11">
                <div class="text-right col-sm-3">{{ 'NAME_SURNAME' | translate}}</div>
                <input class="col-sm-8" type="text"
                       autocomplete="off" ng-model="nameSurname"><i class="fa fa-asterisk asterisk-padding"></i>
            </div>
        </row>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
                <div class="text-center">{{ 'WHEN' | translate}}</div>
            </div>
            <div class="col-sm-11">
                <div class="text-right col-sm-3">{{ 'AVAILABLE_TERMIN' | translate}}</div>
                <div class="dropdown col-sm-8">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="dateDropDownInput | date:'d MMMM yyyy, HH:mm'"><span
                                class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateDropDownInput"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
            </div>
        </row>

        <hr class="orangehr">
        <row class="col-sm-12">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="text-right col-sm-3">{{ 'VALUE' | translate}}</div>
                <div class="text-right col-sm-5">
                    <div class="text-right col-sm-8 amount-currency-text amount-text">{{ amount}}</div>
                    <div class="text-left col-sm-3 amount-currency-text">{{ currency}}</div>
                </div>
                <a class="btn btn-fefault cart col-sm-2 text-center" ng-click="executePayment()">{{ 'PAY' |
                    translate}}</a>
            </div>
        </row>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-11">
                <div class="text-center col-sm-3">{{ 'NOTE' | translate}}</div>
                <div class="col-sm-9">
                    <textarea type="text" rows="4" class="col-sm-12"
                              placeholder="{{ 'NOTE_MSG' | translate}} "ng-model="note"></textarea>
                </div>
            </div>
        </row>
        <hr class="orangehr">
    </div>
</section> <!--/#cart_items-->


<div ng-include="'partials/footer.html'"></div>
