<header id="header"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> {{paysPhone}}</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> {{paysEMail}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a ng-click="translate('rs')" class="hover"><img src="images/sr.jpg"></a></li>
                            <li><a ng-click="translate('en')" class="hover"><img src="images/uk.jpg"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="#/"><img src="images/home/logo.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#/404"><i class="fa fa-user"></i> {{ 'ACCOUNT' | translate}}</a></li>
                            <li><a href="#/404"><i class="fa fa-star"></i> {{ 'WISHLIST' | translate}} <span
                                    class="badge alert-warning">{{wishlistItems}}</span></a></li>
                            <li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{ 'CART' | translate}} <span
                                    class="badge alert-success">{{price}}</span></a></li>
                            <li><a href="#/checkout"> {{ 'PAY' | translate}}</a></li>
                            <li><a href="#/login/{{buyerUserType}}"><i class="fa fa-lock"></i> {{ 'LOGIN' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="#/" class="active">{{ 'SHOP' | translate}}</a></li>
                            <li><a href="#/login/{{farmerUserType}}">{{ 'FOR_FARMERS' | translate}}</a></li>
                            <li><a href="#/login/{{distributorUserType}}">{{ 'FOR_DISTRIBUTORS' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header><!--/header-->

<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div>
        <!--/breadcrums-->

        <div class="step-one">
            <h2 class="text-center">{{ 'ORDER' | translate}} {{orderId}} , {{'ORDER_DATA_SUFFIX' | translate}}</h2>
        </div>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
                <div class="text-center">{{ 'WHO' | translate}}</div>
            </div>
            <div class="col-sm-11">
                <div class="text-right col-sm-3">{{ 'NAME_SURNAME' | translate}}</div>
                <input class="col-sm-8" type="text"
                       autocomplete="off" ng-model="nameSurname"><i class="fa fa-asterisk asterisk-padding"></i>
            </div>
        </row>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
                <div class="text-center">{{ 'WHEN' | translate}}</div>
            </div>
            <div class="col-sm-11">
                <div class="text-right col-sm-3">{{ 'AVAILABLE_TERMIN' | translate}}</div>
                <div class="dropdown col-sm-8">
                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                        <div class="input-group"><input type="text" class="form-control"
                                                        data-ng-model="dateDropDownInput | date:'d MMMM yyyy, HH:mm'"><span
                                class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <datetimepicker data-ng-model="dateDropDownInput"
                                        data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                    </ul>
                </div>
            </div>
        </row>

        <hr class="orangehr">
        <row class="col-sm-12">
            <div class="col-sm-offset-1 col-sm-11">
                <div class="text-right col-sm-3">{{ 'VALUE' | translate}}</div>
                <div class="text-right col-sm-5">
                    <div class="text-right col-sm-8 amount-currency-text amount-text">{{ amount}}</div>
                    <div class="text-left col-sm-3 amount-currency-text">{{ currency}}</div>
                </div>
                <a class="btn btn-fefault cart col-sm-2 text-center" ng-click="executePayment()">{{ 'PAY' |
                    translate}}</a>
            </div>
        </row>

        <hr class="orangehr">

        <row class="col-sm-12">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-11">
                <div class="text-center col-sm-3">{{ 'NOTE' | translate}}</div>
                <div class="col-sm-9">
                    <textarea type="text" rows="4" class="col-sm-12"
                              placeholder="{{ 'NOTE_MSG' | translate}} "ng-model="note"></textarea>
                </div>
            </div>
        </row>
        <hr class="orangehr">
    </div>
</section> <!--/#cart_items-->


<footer id="footer"><!--Footer-->
    <div class="footer-widget" ng-if="showFooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Pomoć online</a></li>
                            <li><a href="#">Kontaktirajte nas</a></li>
                            <li><a href="#">Status narudžbine</a></li>
                            <li><a href="#">Promeni lične podatke</a></li>
                            <li><a href="#">Česta pitanja</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Uslovi korišćenja</a></li>
                            <li><a href="#">Privatnost</a></li>
                            <li><a href="#">Povrat novca</a></li>
                            <li><a href="#">Sistem naplate</a></li>
                            <li><a href="#">Sistem dostave proizvoda</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>O PAYS-u</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Ko smo mi?</a></li>
                            <li><a href="#">Kontaktirajte nas</a></li>
                            <li><a href="#">Pridružite nam se</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>O PAYS-u</h2>

                        <form action="#" class="searchform">
                            <input type="text" placeholder="Vaša mejl adresa"/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                            <p>Primite najnovije ponude na vašu mejl adresu <br/>i kupujte po najpovoljnijim cenama...
                            </p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2015 PAYS. {{'ALL_RIGHTS_RESERVED' | translate}}.</p>
            </div>
        </div>
    </div>

</footer>
