<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'"></div>
</header><!--/header-->

<section>
    <div class="container">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators pays-carousel-indicators">
                <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#slider-carousel" data-slide-to="1"></li>
                <li data-target="#slider-carousel" data-slide-to="2"></li>
                <li data-target="#slider-carousel" data-slide-to="3"></li>
                <li data-target="#slider-carousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-6">
                        <h1 ng-bind-html="distributor.name | html"></h1>

                        <h2 ng-bind-html="distributor.location | html"></h2>

                        <h3 ng-bind-html="distributor.title | translate | html"></h3>

                        <p ng-bind-html="distributor.message | translate | html"></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="{{distributor.img}}" class="girl img-responsive" alt=""
                             style="height: 400px;width: 400px;"/>
                    </div>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/courier2.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/courier3.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/courier4.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/courier5.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>

            </div>

            <a class="left control-carousel hidden-xs" ng-non-bindable data-slide="prev" role="button" data-target="#slider-carousel">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right control-carousel hidden-xs" ng-non-bindable data-slide="next" role="button" data-target="#slider-carousel">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <h2 class="title text-center">{{ 'VEHICLES' | translate}}</h2>

            <div class="product-details">
                <div class="col-sm-4" ng-repeat="vehicle in distributorVehicles">
                    <div class="product-image-wrapper">
                        <div class="single-products">
                            <div class="productinfo text-center">
                                <img src="{{vehicle.img}}" height="200px" width="128px" class="cursorhover"/>
                            </div>

                            <h4>{{ 'NUMBER_OF_VEHICLES' | translate}} : {{vehicle.number}}</h4>
                            <h4>{{ 'COOLED_TRANSPORT' | translate}} : <span ng-if="vehicle.cooled == true">{{'YES' | translate }}</span>
                                <span ng-if="vehicle.cooled == false">{{'NO' | translate }}</span>
                            </h4>
                            <h4>{{ 'TRANSPORT_VOLUME' | translate}}[cm]:
                                {{vehicle.height}}x{{vehicle.width}}x{{vehicle.depth}}</h4>
                            <h4>{{ 'TRANSPORT_WEIGHT' | translate}} : {{vehicle.amount}} kg</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include="'partials/footer.html'"></div>
	