<header id="header"><!--header-->
  <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section class="register-form"><!--form-->
  <div class="container">
    <h4 class="title text-center">{{'EDIT_BUYER_DATA' | translate}}</h4>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-class="{ active: (page == 'GENERAL_BUYER_DATA')}" class="cursor-pointer"
                ng-click="sectionChange('GENERAL_BUYER_DATA')"><a>{{ 'GENERAL_BUYER_DATA' |
              translate}}</a></li>
            <li ng-class="{ active: (page == 'ORDERS')}" class="cursor-pointer"
                ng-click="sectionChange('ORDERS')"><a>{{'ORDERS' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      <div ng-if="page == 'GENERAL_BUYER_DATA'" class="col-sm-6">
        <div cg-busy="{promise:loadGeneralDeffered.promise,message:loadMsg,backdrop:true}">
          <div class="signup-form">
            <form>
              <table class="col-sm-12 general-info-form-margin">
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'NAME' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.name"
                                              placeholder="{{buyer.privateSubject.name}}"/></td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'SURNAME' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.lastName"
                                              placeholder="{{buyer.privateSubject.lastName}}"/>
                  </td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'EMAIL' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.email"
                                              placeholder="{{buyer.email}}" ng-disabled="true" ng-blur="true"/></td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'PHONE_NUMBER' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.phone"
                                              placeholder="{{buyer.privateSubject.phone}}"/></td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'CLIENT_ADDRESS' | translate}}</h5>
                  </td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.address"
                                              placeholder="{{buyer.privateSubject.address}}"/></td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'POSTAL_CODE' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.postalCode"
                                              placeholder="{{buyer.privateSubject.postalCode}}"/></td>
                </tr>
                <tr>
                  <td class="col-sm-3"><h5 class="text-left">{{ 'CITY' | translate}}</h5></td>
                  <td class="col-sm-9"><input type="text" ng-model="buyer.privateSubject.city"
                                              placeholder="{{buyer.privateSubject.city}}"/></td>
                </tr>
              </table>
              <button class="btn btn-default" ng-click="saveGeneralInfoChanges()">{{'SAVE_CHANGES' | translate}}
              </button>
            </form>
          </div>
        </div>
      </div>
      <div ng-if="page == 'ORDERS'" class="col-sm-12" id="orders_data">
        <div cg-busy="{promise:loadOrdersDeffered.promise,message:loadMsg,backdrop:true}">
          <div class="col-sm-12 mb25">
            <div class="col-sm-3 no-padding mt85">
              <p class="info_text" class="col-sm-3">{{'ANDROID_APP_TEXT' | translate}}</p><br>
            </div>
            <div class="col-sm-3 mt6">
              <img src="{{ 'APK_PAYS_ICON' | translate}}" width="150px">
            </div>
            <div class="col-sm-3 mt20">
              <img src="{{ 'APK_QR_ICON' | translate}}" width="150px">
            </div>
            <div class="col-sm-3 mt60">
              <img src="images/android/GooglePlay1.jpg" width="150px">
            </div>
          </div>
          <table class="table table-condensed">
            <thead>
            <tr class="vehicles_menu">
              <td>
                <a class="cursor-pointer white-font" ng-click="sortType = 'id'; sortReverse = !sortReverse">
                  {{ 'Id' | translate}}
                  <span ng-show="sortType == 'id' && sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'id' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a class="cursor-pointer white-font" ng-click="sortType = 'farmer.businessSubject.name'; sortReverse = !sortReverse">
                  {{ 'COMPANY_NAME' | translate}}
                  <span ng-show="sortType == 'farmer.businessSubject.name' && sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'farmer.businessSubject.name' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a class="cursor-pointer white-font" ng-click="sortType = 'items.length'; sortReverse = !sortReverse">
                  {{ 'PRODUCT_NUMBER' | translate}}
                  <span ng-show="sortType == 'items.length' && sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'items.length' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a class="cursor-pointer white-font" ng-click="sortType = 'totalPrice'; sortReverse = !sortReverse">
                  {{ 'PRODUCT_TOTAL_PRICE' | translate}}
                  <span ng-show="sortType == 'totalPrice' && sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'totalPrice' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>
                <a class="cursor-pointer white-font" ng-click="sortType = 'numericStatus'; sortReverse = !sortReverse">
                  {{ 'STATUS' | translate}}
                  <span ng-show="sortType == 'numericStatus' && sortReverse" class="fa fa-caret-down"></span>
                  <span ng-show="sortType == 'numericStatus' && !sortReverse" class="fa fa-caret-up"></span>
                </a>
              </td>
              <td>{{ 'ACTIONS' | translate}}</td>
            </tr>
            </thead>
            <tbody>
            <tr
              dir-paginate-start="order in orders | orderBy:sortType:sortReverse |itemsPerPage:maxItemsPerPage">
              <td>
                <h4>{{order.id}}</h4>
              </td>
              <td>
                <h4>{{order.farmer.businessSubject.name}}</h4>
              </td>
              <td>
                <h5>{{order.items.length}}</h5>
              </td>
              <td>
                <h5>{{order.totalPrice}} RSD</h5>
              </td>
              <td>
                <h5>{{order.status | orderStatus | translate}}</h5>
              </td>
              <td>
                <button class="btn btn-default apply-changes-btn"
                        ng-click="order.showDetails = !order.showDetails;order.showReview = false;"><i
                  class="fa fa-pencil-square-o"></i> {{ 'DETAILS' | translate}}
                </button>
                <button ng-disabled="(order.status != 'D' && order.status != 'P') || order.hasComments == true"
                        class="btn btn-default apply-changes-btn"
                        ng-click="order.showReview = !order.showReview;order.showDetails = false;"><i
                  class="fa fa-star-half-o"></i> {{
                  'LEAVE_REVIEW' | translate}}
                </button>
              </td>
            </tr>
            <tr ng-if="order.showDetails || order.showReview" dir-paginate-end="" style="border-width: 5px">
              <td ng-if="order.showDetails" colspan="6" style="background-color: antiquewhite;">
                <h4 class="text-center">{{"DETAILS" |translate}}</h4>

                <div class="col-sm-4 text-center">
                  <h4 class="text-center">{{'EDIT_FARMER_DATA' | translate}}</h4>

                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'COMPANY_NAME' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.farmer.businessSubject.name}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'EMAIL' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.farmer.email}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'PHONE_NUMBER' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.farmer.businessSubject.phone}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'CLIENT_ADDRESS' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.farmer.businessSubject.address}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'CITY' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.farmer.businessSubject.postalCode}}, {{order.farmer.businessSubject.city}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-4 text-center">
                  <h4 class="text-center">{{'DELIVERY' | translate}}</h4>

                  <div class="col-sm-12">
                    <div class="col-sm-6">
                      <strong>{{'DELIVERY_DATE' | translate}}</strong>
                    </div>
                    <div class="col-sm-6">
                      {{order.deliveryDate}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <strong>{{'DELIVERY_TIME' | translate}}</strong>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'FROM' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.deliveryFrom}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'TO' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.deliveryTo}}
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <br/>
                  </div>
                  <div class="col-sm-12">
                    <div class="col-sm-4">
                      <strong>{{'NOTE' | translate}}</strong>
                    </div>
                    <div class="col-sm-8">
                      {{order.comment}}
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <h4 class="text-center">{{'PRODUCTS' | translate}}</h4>

                  <div ng-repeat="item in order.items">
                    <div class="col-sm-8">
                      {{item.product.name.localization[currentLang]}}
                    </div>
                    <div class="col-sm-4">
                      {{item.amount}} {{item.product.unit.code.localization[currentLang]}}
                    </div>
                  </div>
                </div>
              </td>
              <td ng-if="!order.showDetails && order.showReview" colspan="6" style="background-color: azure;">
                <h4 class="text-center">{{ 'LEAVE_REVIEW' | translate}}</h4>

                <div class="col-sm-12 mb_10 ">
                  <ul class="star-rating pull-right">
                    <li ng-repeat="star in order.review.stars" class="star"
                        ng-class="{filled: star.filled, not_filled: !star.filled}"
                        ng-click="toggle(order,star)">
                      <i class="fa fa-star fa-lg"></i>
                    </li>
                  </ul>

                  <h4 class="pull-right mr-10">{{ 'YOUR_RATING' | translate}}:</h4>
                  <h4>{{ 'MAX_500_CHARS_FOR_REVIEW' | translate}}</h4>
                </div>
                <div class="col-sm-12 mb_10">
        <textarea class="form-control text-left" rows="3" ng-model="order.review.comment"
                  placeholder="{{'REVIEW_TEXT' | translate}}" maxlength="500" required>
        </textarea>
                </div>
                <div class="text-center">
                  <button class="btn btn-default btn-lg apply-changes-btn mtb10"
                          ng-click="submitReview(order)" ng-disabled="!order.review.comment || order.hasComments"><i
                    class="fa fa-pencil-square-o"></i> {{ 'SUBMIT_REVIEW' | translate}}
                  </button>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center">
            <dir-pagination-controls
              max-size="5"
              direction-links="true"
              boundary-links="true">
            </dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div ng-include="'partials/footer.html'"></div>
	
