<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'"></div>
</header><!--/header-->

<section class="register-form"><!--form-->
    <div class="container">
        <h4 class="title text-center">{{'EDIT_DISTRIBUTOR_DATA' | translate}}</h4>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse text-center" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-class="{ active: (page == 'GENERAL_DISTRIBUTOR_DATA')}" class="cursor-pointer"
                            ng-click="sectionChange('GENERAL_DISTRIBUTOR_DATA')"><a>{{ 'GENERAL_DISTRIBUTOR_DATA' | translate}}</a></li>
                        <li ng-class="{ active: (page == 'VEHICLES')}" class="cursor-pointer"
                            ng-click="sectionChange('VEHICLES')"><a>{{'VEHICLES' | translate}}</a>
                        </li>
                        <li ng-class="{ active: (page == 'DISTRIBUTOR_MARKETING')}" class="cursor-pointer"
                            ng-click="sectionChange('DISTRIBUTOR_MARKETING')"><a>{{'DISTRIBUTOR_MARKETING' |
                            translate}}</a></li>
                        <li ng-class="{ active: (page == 'DISTRIBUTOR_PRICES')}" class="cursor-pointer"
                            ng-click="sectionChange('DISTRIBUTOR_PRICES')"><a>{{'DISTRIBUTOR_PRICES' |
                            translate}}</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row">
            <div ng-if="page == 'GENERAL_DISTRIBUTOR_DATA'" class="col-sm-6">
                <div class="signup-form">
                    <form>
                        <input type="text" ng-model="distributorUser.companyName"
                               placeholder="{{ 'COMPANY_NAME' | translate}}"/>
                        <input type="text" ng-model="distributorUser.accountNumber"
                               placeholder="{{ 'BANK_NUMBER' | translate}}"/>
                        <input type="text" ng-model="distributorUser.pibNumber"
                               placeholder="{{ 'PIB_NUMBER' | translate}}"/>
                        <input type="text" ng-model="distributorUser.streetAndNr"
                               placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                        <input type="text" ng-model="distributorUser.postalCode"
                               placeholder="{{'POSTAL_CODE' | translate}}"/>
                        <input type="text" ng-model="distributorUser.city" placeholder="{{'CITY' | translate}}"/>
                        <input type="text" ng-model="distributorUser.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                        <button class="btn btn-default" ng-click="saveChanges()">{{'SAVE_CHANGES' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include="'partials/footer.html'"></div>
	