<header id="header"><!--header-->
  <div ng-include="'partials/navBar.html'"></div>
</header><!--/header-->

<section>
  <div class="container">
    <div class="col-sm-9">
      <div id="farmer-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators pays-carousel-indicators">
          <li data-target="#farmer-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#farmer-carousel" data-slide-to="1"></li>
          <li data-target="#farmer-carousel" data-slide-to="2"></li>
          <li data-target="#farmer-carousel" data-slide-to="3"></li>
          <li data-target="#farmer-carousel" data-slide-to="4"></li>
          <li data-target="#farmer-carousel" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="col-sm-12 text-center">
              <h2 ng-bind-html="farmer.businessSubject.name | html"></h2>

              <h3 ng-bind-html="farmer.advertisingTitle | translate | html"></h3>

              <p ng-bind-html="farmer.advertisingText | translate | html"></p>

              <h3
                ng-bind="(farmer.businessSubject.address | html) +', ' + farmer.businessSubject.postalCode + ', '+ (farmer.businessSubject.city | html)"></h3>

              <div class="col-sm-12 text-left">
                <p class="col-sm-6"><strong>{{ 'TAX_NUMBER' | translate}} : </strong>{{farmer.businessSubject.taxNum}}
                </p>

                <p class="col-sm-6"><strong>{{ 'BANK_NUMBER' | translate}} : </strong>{{farmer.businessSubject.account}}
                </p>
              </div>
              <div class="col-sm-12 text-left">
                <p class="col-sm-6"><strong>{{ 'PIB_NUMBER' | translate}} : </strong>{{farmer.businessSubject.companyNum}}
                </p>

                <p class="col-sm-6"><strong>{{ 'BUSSINESS_ACT_NUMBER' | translate}} : </strong>{{farmer.businessSubject.businessActivityCode}}
                </p>
              </div>
            </div>
          </div>
          <div class="item col-sm-12">
            <img src="{{farmer.bannerImages[0]}}" class="girl img-responsive col-sm-12"
                 alt="{{ 'NO_IMAGE_PROVIDED' | translate}}"
                 style="height: 400px;width: 400px;"/>
          </div>
          <div class="item col-sm-12">
            <img src="{{farmer.bannerImages[1]}}" class="girl img-responsive col-sm-12"
                 alt="{{ 'NO_IMAGE_PROVIDED' | translate}}"
                 style="height: 400px;"/>
          </div>
          <div class="item col-sm-12">
            <img src="{{farmer.bannerImages[2]}}" class="girl img-responsive col-sm-12"
                 alt="{{ 'NO_IMAGE_PROVIDED' | translate}}"
                 style="height: 400px;"/>
          </div>
          <div class="item col-sm-12">
            <img src="{{farmer.bannerImages[3]}}" class="girl img-responsive col-sm-12"
                 alt="{{ 'NO_IMAGE_PROVIDED' | translate}}"
                 style="height: 400px;"/>
          </div>
          <div class="item col-sm-12">
            <img src="{{farmer.bannerImages[4]}}" class="girl img-responsive col-sm-12"
                 alt="{{ 'NO_IMAGE_PROVIDED' | translate}}"
                 style="height: 400px;"/>
          </div>

        </div>

        <a class="left control-carousel hidden-xs" ng-non-bindable data-slide="prev" role="button"
           data-target="#farmer-carousel">
          <i class="fa fa-angle-left"></i>
        </a>
        <a class="right control-carousel hidden-xs" ng-non-bindable data-slide="next" role="button"
           data-target="#farmer-carousel">
          <i class="fa fa-angle-right"></i>
        </a>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <h3>CONTACT</h3>
      <hr/>
      <h4>{{ 'EMAIL' | translate}}</h4>
      <h4 ng-bind-html="farmer.email | translate | html"></h4>
      <hr/>
      <h4>{{ 'PHONE_NUMBER' | translate}}</h4>
      <h4 ng-bind-html="farmer.businessSubject.phone | translate | html"></h4>
      <hr/>
      <h4>{{ 'FAX_NUMBER' | translate}}</h4>
      <h4 ng-bind-html="farmer.businessSubject.fax | translate | html"></h4>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <a class="cursor-pointer" data-toggle="collapse" data-target="#prices"><h2 class="title text-center">{{
        'DISTRIBUTOR_PRICES' | translate}} <i
          class="fa fa-caret-down"></i></h2></a>

      <div id="prices" class="collapse">
        <h4 class="text-center">{{ 'TRANSPORT_PRICE_LIST' | translate}} (RSD)</h4>
        <hr/>
        <div class="col-sm-1 text-center">
          <h5 class="side-caption">{{ 'WEIGHT' | translate}} [kg]</h5>
        </div>
        <div class="col-sm-11">
          <h5 class="text-center">{{ 'DISTANCE' | translate}} [km]</h5>

          <div class="col-sm-12 text-center">
            <table class="table table-responsive table-bordered" id="priceTable">
              <tr>
                <td>
                </td>
                <td ng-repeat="dist in transportDistances track by $index">
                  <h5 ng-if="$index < (transportDistances.length -1)">{{dist}} - {{transportDistances[$index+1]}}</h5>
                  <h5 ng-if="$index == (transportDistances.length -1)">{{'>'}} {{dist}}</h5>
                </td>
              </tr>
              <tr ng-repeat="weight in transportWeights">
                <td>
                  <h5 ng-if="$index < (transportWeights.length -1)">{{weight}} - {{transportWeights[$index+1]}}</h5>
                  <h5 ng-if="$index == (transportWeights.length -1)">{{'>'}} {{weight}}</h5>
                </td>
                <td ng-repeat="dist in transportDistances">
                  <h5>{{prices[dist][weight]}}</h5>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr class="orangehr">
    <h5 ng-if="canShop() && !canBeAdded()" class="text-center" style="color:red;">{{ 'UNABLE_CART_INSERT' | translate}}</h5>

    <div ng-if="searchedItems.length" class="row">
      <h2 class="title text-center">{{ 'SEARCHED_PRODUCTS' | translate}}</h2>

      <div class="col-sm-3" ng-repeat="product in searchedItems">
        <div class="product-image-wrapper">
          <div class="single-products">
            <div class="productinfo text-center">
              <a>
                <img src="{{product.product.img}}" alt="{{product.product.name.localization[currentLang]}}"
                     height="200px"
                     width="128px" class="cursorhover"/>
              </a>

              <h2>{{product.price.price}} {{product.price.currency.code}}/{{product.product.unit.code}}</h2>

              <p>{{product.product.name.localization[currentLang]}}</p>

              <div ng-if="canShop()">
                <a ng-if="!canBeAdded() && !isProductInWishlist(product.product.id)"
                   ng-click="addToWishlist(product.product.id)" class="btn btn-default add-to-cart"><i
                  class="fa fa-star"></i>
                  {{ 'ADD_TO_WISHLIST' | translate}}</a>

                <a ng-if="!canBeAdded() && isProductInWishlist(product.product.id)"
                   ng-click="removeFromWishlist(product.product.id)" class="btn btn-default add-to-cart">
                  <i class="fa fa-star-o"></i>{{ 'REMOVE_FROM_WISHLIST' | translate}}</a>

                <a ng-if="canBeAdded() && !isProductInCart(product.product.id)"
                   ng-click="addToCart(product.product.id)" class="btn btn-default add-to-cart"><i
                  class="fa fa-shopping-cart"></i>{{ 'ADD_TO_CART' | translate}}</a>

                <div ng-if="canBeAdded () && isProductInCart(product.product.id)"
                     class="cart_quantity_button col-sm-12 mb25">
                  <div class="col-sm-3 col-sm-offset-1 no-padding">
                    <a class="cursor-pointer form-control" ng-click="addMore(product)">
                      + </a>
                  </div>
                  <div class="col-sm-4 no-padding">
                    <input class="form-control col-sm-12 text-center disable_number_spinner" type="number"
                           name="quantity"
                           ng-model="product.itemNum"
                           ng-change="setAmount(product,product.itemNum)" autocomplete="off"
                           ng-class="{'alert_color' : product.resourceExcedeed}"
                           size="5">
                  </div>
                  <div class="col-sm-3 no-padding">
                    <a class="cursor-pointer form-control" ng-click="less(product)"> - </a>
                  </div>

                </div>
                <h5 ng-show="product.resourceExcedeed" class="text-center" style="color:red;">
                  {{product.alertMessage}}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="title text-center">{{ 'ALL_PRODUCTS' | translate}}</h2>

    <div class="row">
      <div class="product-details">
        <div class="col-sm-3" ng-repeat="product in farmerProducts">
          <div class="product-image-wrapper">
            <div class="single-products">
              <div class="productinfo text-center">
                <a>
                  <img src="{{product.product.img}}" alt="{{product.product.name.localization[currentLang]}}"
                       height="200px"
                       width="128px" class="cursorhover"/>
                </a>

                <h2>{{product.price.price}} {{product.price.currency.code}}/{{product.product.unit.code}}</h2>

                <p>{{product.product.name.localization[currentLang]}}</p>

                <div ng-if="canShop()">
                  <a ng-if="!canBeAdded() && !isProductInWishlist(product.product.id)"
                     ng-click="addToWishlist(product.product.id)" class="btn btn-default add-to-cart"><i
                    class="fa fa-star"></i>
                    {{ 'ADD_TO_WISHLIST' | translate}}</a>

                  <a ng-if="!canBeAdded() && isProductInWishlist(product.product.id)"
                     ng-click="removeFromWishlist(product.product.id)" class="btn btn-default add-to-cart">
                    <i class="fa fa-star-o"></i>{{ 'REMOVE_FROM_WISHLIST' | translate}}</a>

                  <a ng-if="canBeAdded() && !isProductInCart(product.product.id)"
                     ng-click="addToCart(product.product.id)" class="btn btn-default add-to-cart"><i
                    class="fa fa-shopping-cart"></i>{{'ADD_TO_CART' | translate}}</a>

                  <div ng-if="canBeAdded() && isProductInCart(product.product.id)"
                       class="cart_quantity_button col-sm-12 mb25">
                    <div class="col-sm-3 col-sm-offset-1 no-padding">
                      <a class="cursor-pointer form-control" ng-click="addMore(product)">
                        + </a>
                    </div>
                    <div class="col-sm-4 no-padding">
                      <input class="form-control col-sm-12 text-center disable_number_spinner" type="number"
                             name="quantity"
                             ng-model="product.itemNum"
                             ng-change="setAmount(product,product.itemNum)"
                             ng-class="{'alert_color' : product.resourceExcedeed}"
                             autocomplete="off"
                             size="5">
                    </div>
                    <div class="col-sm-3 no-padding">
                      <a class="cursor-pointer form-control" ng-click="less(product)"> - </a>
                    </div>
                  </div>
                  <h5 ng-show="product.resourceExcedeed" class="text-center" style="color:red;">
                    {{product.alertMessage}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="cursor-pointer" data-toggle="collapse" data-target="#reviews"><h2 class="title text-center">{{
      'FARMER_REVIEWS' | translate}} <i
        class="fa fa-caret-down"></i></h2></a>

    <div id="reviews" class="collapse">
      <div ng-if="reviews.length == 0"><h3 class="text-center">{{ 'NO_REVIEWS_MESSAGE' | translate}}</h3></div>
      <div ng-if="reviews.length > 0" class="col-sm-4" ng-repeat="review in reviews">
        <div class="bubble" class="col-sm-7 ">
          <div class="col-sm-12 text-left">
            <h4 class="col-sm-12 text-center">{{review.commentBy}}</h4>

            <div class="col-sm-12 text-center">
              <ul class="star-rating">
                <li ng-repeat="star in range(1,review.rating)" class="filled review-backgorund">
                  <i class="fa fa-star fa-2x"></i>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12">
            <p>"{{review.comment}}"</p>
          </div>
          <h5 class="text-center">{{ 'POSTED_ON' | translate }}:
            <t/>
            {{review.date | date : 'dd-M-yyyy'}}
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>

<div ng-include="'partials/footer.html'"></div>
	