<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section>
    <div class="container">
        <div id="farmer-carousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators pays-carousel-indicators">
                <li data-target="#farmer-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#farmer-carousel" data-slide-to="1"></li>
                <li data-target="#farmer-carousel" data-slide-to="2"></li>
                <li data-target="#farmer-carousel" data-slide-to="3"></li>
                <li data-target="#farmer-carousel" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <div class="col-sm-6">
                        <h1 ng-bind-html="farmer.businessSubject.name | html"></h1>

                        <h2 ng-bind-html="farmer.businessSubject.city | html"></h2>

                        <h2 ng-bind-html="farmer.advertisingTitle | html"></h2>

                        <p ng-bind-html="farmer.advertisingText | html"></p>
                    </div>
                    <div class="col-sm-6">
                        <img src="{{farmer.img}}" class="girl img-responsive" alt=""
                             style="height: 400px;width: 400px;"/>
                    </div>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/vegetables1.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/vegetables2.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/vegetables3.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>
                <div class="item col-sm-12">
                    <img src="images/home/vegetables4.jpg" class="girl img-responsive col-sm-12" alt=""
                         style="height: 400px;"/>
                </div>

            </div>

            <a class="left control-carousel hidden-xs" ng-non-bindable data-slide="prev" role="button" data-target="#farmer-carousel">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="right control-carousel hidden-xs" ng-non-bindable data-slide="next" role="button" data-target="#farmer-carousel">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    </div>
</section>

<section>
    <div class="container">
        <hr class="orangehr">
        <div class="row">
            <h2 class="title text-center">{{ 'SEARCHED_PRODUCTS' | translate}}</h2>

            <div class="col-sm-3" ng-repeat="product in searchedItems">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a>
                                <img src="{{product.product.img}}" alt="{{product.product.name}}" height="128px" width="128px" class="cursorhover"/>
                            </a>

                            <h2>{{product.price.price}} {{product.price.currency.code}}/{{product.measure.code}}</h2>

                            <p>{{product.product.name | translate}}</p>

                            <a ng-if="!canBeAdded() && !isProductInWishlist(product.product.id)" ng-click="addToWishlist(product.product.id)" class="btn btn-default add-to-cart"><i class="fa fa-star"></i>
                                {{ 'ADD_TO_WISHLIST' | translate}}</a>

                            <a ng-if="!canBeAdded() && isProductInWishlist(product.product.id)" ng-click="removeFromWishlist(product.product.id)" class="btn btn-default add-to-cart">
                                <i class="fa fa-star-o"></i>{{ 'REMOVE_FROM_WISHLIST' | translate}}</a>

                            <a ng-if="canBeAdded() && !isProductInCart(product.product.id)" ng-click="addToCart(product.product.id)" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>{{ 'ADD_TO_CART' | translate}}</a>

                            <div ng-if="canBeAdded () && isProductInCart(product.product.id)" class="cart_quantity_button add-remove-product-aligment">
                                <a class="cart_quantity_up cursor-pointer" ng-click="addMore(product.product.id)"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" ng-model="product.itemNum" ng-change="setAmount(product.product.id,product.itemNum)" autocomplete="off" size="5">
                                <a class="cart_quantity_down cursor-pointer" ng-click="less(product.product.id)"> - </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>

        <h2 class="title text-center">{{ 'ALL_PRODUCTS' | translate}}</h2>


        <div class="product-details">
            <div class="col-sm-3" ng-repeat="product in farmerProducts">
                <div class="product-image-wrapper">
                    <div class="single-products">
                        <div class="productinfo text-center">
                            <a>
                                <img src="{{product.product.img}}" alt="{{product.product.name}}" height="200px" width="128px" class="cursorhover"/>
                            </a>

                            <h2>{{product.price.price}} {{product.price.currency.code}}/{{product.measure.code}}</h2>

                            <p>{{product.product.name | translate}}</p>

                            <a ng-if="!canBeAdded() && !isProductInWishlist(product.product.id)" ng-click="addToWishlist(product.product.id)" class="btn btn-default add-to-cart"><i class="fa fa-star"></i>
                                {{ 'ADD_TO_WISHLIST' | translate}}</a>

                            <a ng-if="!canBeAdded() && isProductInWishlist(product.product.id)" ng-click="removeFromWishlist(product.product.id)" class="btn btn-default add-to-cart">
                                <i class="fa fa-star-o"></i>{{ 'REMOVE_FROM_WISHLIST' | translate}}</a>

                            <a ng-if="canBeAdded() && !isProductInCart(product.product.id)" ng-click="addToCart(product.product.id)" class="btn btn-default add-to-cart"><i
                                    class="fa fa-shopping-cart"></i>{{'ADD_TO_CART' | translate}}</a>

                            <div ng-if="canBeAdded() && isProductInCart(product.product.id)" class="cart_quantity_button add-remove-product-aligment">
                                <a class="cart_quantity_up cursor-pointer" ng-click="addMore(product.product.id)"> + </a>
                                <input class="cart_quantity_input" type="text" name="quantity" ng-model="product.itemNum" ng-change="setAmount(product.product.id,product.itemNum)" autocomplete="off" size="5">
                                <a class="cart_quantity_down cursor-pointer" ng-click="less(product.product.id)"> - </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div ng-include="'partials/footer.html'"></div>
	