<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>AGENCIJA ZA RAČUNARSKI INŽENJERING INDUSTRIAL PROJECT</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><strong>Adresa:</strong> Milana Rakića 16, Novi Sad</li>
                            <li><strong>Telefon:</strong> 021/455-071</li>
                            <li><strong>Email:</strong> office@pays-system.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Podaci</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><strong>Matični broj:</strong> 62552778</li>
                            <li><strong>PIB:</strong> 107176348</li>
                            <li><strong>Šifra delatnosti:</strong> 6201</li>
                            <li><strong>Web:</strong> www.pays-system.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Komentari i reklamacije</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><strong>Telefon:</strong> 021/455-071</li>
                            <li><strong>Email:</strong> office@pays-system.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <h4 class="col-sm-6">INDUSTRIAL PROJECT nije obveznik PDV</h4>
                <div class="col-sm-6">
                    <a target="_blank" href="{{'INFO_DOCUMENTS_TEXT_TOU_BUYER_LINK' | translate}}" class="info_link pull-right fs20">{{'INFO_DOCUMENTS_TEXT_TOU_BUYER'
                        | translate}}</a><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4 ems text-center">
                        <a target="_blank" href="http://www.e-services.rs/">
                            <img src="images/eMS.jpg" alt="EMS"/>
                        </a>
                    </div>
                    <div class="col-sm-4 master text-center">
                        <a target="_blank" href="http://www.mastercardbusiness.com/mcbiz/index.jsp?template=/orphans&content=securecodepopup">
                            <img src="images/sc_learn_120x65.gif" alt="Master secure"/>
                        </a>
                    </div>
                    <div class="col-sm-4 visa text-center">
                        <a target="_blank" href="http://www.visa.ca/verified/infopane/index.html">
                            <img src="images/vbv_gold_resize.gif" alt="VisaVerfied"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="col-sm-8">{{ 'FRACTALS_FUNDING' | translate}}</p>

                <div class="col-sm-1"><img src="images/logo3.jpg" class="img-responsive" alt="" height="50px"
                                           width="50px"/></div>
                <div class="col-sm-1"><img src="images/logo1.jpg" class="img-responsive" alt="" height="50px"
                                           width="50px"/></div>
                <div class="col-sm-1"><img src="images/logo2.png" class="img-responsive" alt="" height="50px"
                                           width="50px"/></div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="text-center">Copyright © 2016 CAM Engineering. {{'ALL_RIGHTS_RESERVED' | translate}}.</p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->