<header id="header"><!--header-->
  <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->
<section id="form"><!--form-->
  <script type="text/ng-template" id="passChangedModalCtrl.html">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancelModal()">&times;</button>
      <h4 class="modal-title">{{ 'PASSWORD_CHANGED' | translate}}</h4>
    </div>
    <div class="modal-body">
      <p>{{ 'PASSWORD_CHANGED_MSG' | translate}}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default check_out"
              ng-click="goToLogin()">{{ 'OK' |
        translate}}
      </button>
    </div>
  </script>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 panel">
        <div class="signup-form">
          <h4 class="text-center">{{ 'ENTER_NEW_PASSWORD' | translate}}</h4>
          <form>
            <input type="text" ng-model="password" placeholder="{{ 'PASSWORD' | translate}}">
            <input type="text" ng-model="confirmPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}">
            <div class="text-center col-sm-12">
              <button type="submit" ng-click="resetPassword()" class="btn btn-default col-sm-12"
                      ng-disabled="!passwordsSame()">
                {{ 'RESET_PASSWORD' | translate}}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section><!--/form-->


<div ng-include="'partials/footer.html'"></div>