<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<div class="container narrow">
    <div>
        <h2 id="who_are_we" class="title text-center">{{'INFO_WHO_ARE_WE' | translate}}</h2>
        <span class="info_text" ng-bind-html="'INFO_WHO_ARE_WE_TEXT' | translate | htmlSafe"></span><br>
        <h2 id="what_we_do" class="title text-center">{{'INFO_WHAT_WE_DO' | translate}}</h2>
        <p class="info_text">{{'INFO_WHAT_WE_DO_TEXT' | translate}}</p><br>
        <h2 id="help_you" class="title text-center">{{'INFO_HELP_YOU' | translate}}</h2>
        <p class="info_text">{{'INFO_HELP_YOU_TEXT' | translate}}</p><br>
        <h2 class="title text-center">{{'PAYS_ANDROID' | translate}}</h2>
        <div class="col-sm-12 no-padding mb25">
            <div class="col-sm-3 no-padding mt60">
                <p class="info_text" class="col-sm-3">{{'ANDROID_APP_TEXT' | translate}}</p><br>
            </div>
            <div class="col-sm-3">
                <img src="{{ 'APK_PAYS_ICON' | translate}}" width="150px">
            </div>
            <div class="col-sm-3 mt20">
                <img src="{{ 'APK_QR_ICON' | translate}}" width="150px">
            </div>
            <div class="col-sm-3 mt60">
                <img src="images/android/GooglePlay1.jpg" width="150px">
            </div>
        </div>

        <h2 class="title text-center">{{'INFO_COMMENTS' | translate}}</h2>
        <p class="info_text">{{'INFO_COMMENTS_TEXT' | translate}} <a class="info_link"
                                                                     href="mailto:office@pays-system.com">office@pays-system.com</a>
        </p><br>
        <h2 class="title text-center">{{'INFO_DOCUMENTS' | translate}}</h2>
        <a target="_blank" href="{{'INFO_DOCUMENTS_TEXT_MANUAL_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_MANUAL'
            | translate}}</a><br>
        <a target="_blank" href="{{'INFO_DOCUMENTS_TEXT_TOU_FARMER_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_FARMER'
            | translate}}</a><br>
        <a target="_blank" href="{{'INFO_DOCUMENTS_TEXT_TOU_DISTRIBUTOR_LINK' | translate}}"
           class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_DISTRIBUTOR' | translate}}</a><br>
        <a target="_blank" href="{{'INFO_DOCUMENTS_TEXT_TOU_BUYER_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_BUYER'
            | translate}}</a><br><br>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>