<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<div class="container narrow">
    <div>
        <h2 class="title text-center">{{'INFO_WHO_ARE_WE' | translate}}</h2>
        <span ng-bind-html="'INFO_WHO_ARE_WE_TEXT' | translate | htmlSafe"></span><br>
        <h2 class="title text-center">{{'INFO_WHAT_WE_DO' | translate}}</h2>
        <p>{{'INFO_WHAT_WE_DO_TEXT' | translate}}</p><br>
        <h2 class="title text-center">{{'INFO_HELP_YOU' | translate}}</h2>
        <p>{{'INFO_HELP_YOU_TEXT' | translate}}</p><br>
        <h2 class="title text-center">{{'INFO_COMMENTS' | translate}}</h2>
        <p>{{'INFO_COMMENTS_TEXT' | translate}} <a class="info_link" href="mailto:office@pays-system.com">office@pays-system.com</a></p><br>
        <h2 class="title text-center">{{'INFO_DOCUMENTS' | translate}}</h2>
        <a download="" href="{{'INFO_DOCUMENTS_TEXT_MANUAL_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_MANUAL' | translate}}</a><br>
        <a download="" href="{{'INFO_DOCUMENTS_TEXT_TOU_FARMER_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_FARMER' | translate}}</a><br>
        <a download="" href="{{'INFO_DOCUMENTS_TEXT_TOU_DISTRIBUTOR_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_DISTRIBUTOR' | translate}}</a><br>
        <a download="" href="{{'INFO_DOCUMENTS_TEXT_TOU_BUYER_LINK' | translate}}" class="info_link text-center">{{'INFO_DOCUMENTS_TEXT_TOU_BUYER' | translate}}</a><br><br>
    </div>
</div>

<div ng-include="'partials/footer.html'"></div>