<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> {{paysPhone}}</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> {{paysEMail}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a ng-click="translate('rs')" class="hover"><img src="images/sr.jpg"></a></li>
							<li><a ng-click="translate('en')" class="hover"><img src="images/uk.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header_top-->

	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="#/"><img src="images/home/logo.png" alt=""/></a>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#/404"><i class="fa fa-user"></i> {{ 'ACCOUNT' | translate}}</a></li>
							<li><a href="#/404"><i class="fa fa-star"></i> {{ 'WISHLIST' | translate}} <span
									class="badge alert-warning">{{wishlistItems}}</span></a></li>
							<li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{ 'CART' | translate}} <span
									class="badge alert-success">{{price}}</span></a></li>
							<li><a href="#/checkout"> {{ 'PAY' | translate}}</a></li>
							<li><a href="#/login"><i class="fa fa-lock"></i> {{ 'LOGIN' | translate}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="#/" class="active">{{ 'SHOP' | translate}}</a></li>
							<li><a href="#/404">{{ 'FOR_FARMERS' | translate}}</a></li>
							<li><a href="#/distributor/1">{{ 'FOR_DISTRIBUTORS' | translate}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-bottom-->
</header><!--/header-->
	
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<div class="panel-group category-products fromtop" id="accordian"><!--category-productsr-->
							<a type="button" class="btn btn-fefault cart actionbar" href="#/farmer/{{farmerId}}">
										<i class="fa fa-user"></i>
										Nazad na prodavca
									</a>	
							<a type="button" class="btn btn-fefault cart actionbar" href="http://www.google.com?q={{product.name}}" target="_blank">
										<i class="fa fa-search"></i>
										O proizvodu
									</a>	
							<button type="button" class="btn btn-fefault cart actionbar" ng-click="addToWishlist()">
										<i class="fa fa-star"></i>
										U listu želja
									</button>	
							<button type="button" class="btn btn-fefault cart actionbar" ng-click="buynow({{productId}})">
										<i class="fa fa-shopping-cart"></i>
										Kupi odmah
									</button>		
						</div><!--/category-products-->
	
						
					</div>
				</div>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img src="{{product.image}}" alt="{{product.name}}" />
							</div>
							<div class="choose">
										<ul class="nav nav-pills nav-justified">
											<li class="cursorhover"><a href="#/farmer/{{farmerId}}/product/{{product.id}}"><i class="fa fa-star"></i>U listu želja</a></li>
									
											<li class="cursorhover"><a href="#/farmer/{{farmerId}}/product/{{product.id}}"><i class="fa fa-crosshairs"></i>Kupi odmah</a></li>
										</ul>
									
									
							</div>
						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h2>{{product.name}}</h2>
								<h5>Sorta proizvoda</h5>
								<p>ID proizvoda: {{product.id}}</p>
								<span>
									<span>{{product.price}} {{product.currency}} / {{product.measure}}</span>
									</br>
									</br>
									</br>
									<label>Količina:</label>
									<input type="text" ng-model="ammount" min="1"/>
									<label>{{product.measure}}</label>
									<button type="button" class="btn btn-fefault cart" ng-click="addToCart()">
										<i class="fa fa-shopping-cart"></i>
										Dodaj u korpu
									</button>							
								</span>
								<p><b>Dostupnost:</b> Ima na lageru</p>
								<p><b>Geografsko poreklo:</b> Vojvodina</p>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li class="active"><a data-toggle="tab">Detalji</a></li>
							</ul>
						</div>
						<div>
							<textarea>
								Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							</textarea>
						</div>
					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">Drugi proizvodi prodavca</h2>
						
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">	
									<div class="col-sm-4" ng-repeat="otherProduct in otherProducts">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<a href="#/farmer/{{farmerId}}/product/{{otherProduct.id}}">
														<img src="{{otherProduct.image}}" alt="{{otherProduct.name}}" style="height: 100px; width: 100px;" />
													</a>
													<h2>{{otherProduct.price}} {{otherProduct.currency}}/ {{otherProduct.measure}}</h2>
													<p>{{otherProduct.name}}</p>
													<a type="button" class="btn btn-default add-to-cart" href="#/farmer/{{farmerId}}/product/{{otherProduct.id}}"><i class="fa fa-caret-square-o-right"></i>Više informacija</a>
												</div>
											</div>
										</div>
									</div>
								</div>
								</div>
							</div>		
						</div>
					</div><!--/recommended_items-->
					
				</div>
			</div>
		</div>
	</section>

<footer id="footer"><!--Footer-->
	<div class="footer-widget" ng-if="showFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Service</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Pomoć online</a></li>
							<li><a href="#">Kontaktirajte nas</a></li>
							<li><a href="#">Status narudžbine</a></li>
							<li><a href="#">Promeni lične podatke</a></li>
							<li><a href="#">Česta pitanja</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Policies</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Uslovi korišćenja</a></li>
							<li><a href="#">Privatnost</a></li>
							<li><a href="#">Povrat novca</a></li>
							<li><a href="#">Sistem naplate</a></li>
							<li><a href="#">Sistem dostave proizvoda</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>O PAYS-u</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Ko smo mi?</a></li>
							<li><a href="#">Kontaktirajte nas</a></li>
							<li><a href="#">Pridružite nam se</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget">
						<h2>O PAYS-u</h2>

						<form action="#" class="searchform">
							<input type="text" placeholder="Vaša mejl adresa"/>
							<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i>
							</button>
							<p>Primite najnovije ponude na vašu mejl adresu <br/>i kupujte po najpovoljnijim cenama...
							</p>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2015 PAYS. {{'ALL_RIGHTS_RESERVED' | translate}}.</p>
			</div>
		</div>
	</div>

</footer>