<header id="header"><!--header-->
    <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section id="form" class="register-form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="signup-form"><!--sign up form Postani novi kupac-->
                    <h2>{{ 'NEW_ACCOUNT' | translate }}</h2>

                    <form>
                        <label>{{ 'USER_TYPE' | translate}}</label>
                        <select ng-model="userType" class="cursorhover">
                            <option ng-repeat="type in userTypes" value="{{type.id}}">{{type.name | translate | html}}
                            </option>
                        </select>
                        <hr>
                        <div ng-if="userType == buyerUserType">
                            <input type="email" ng-model="buyer.email" ng-change="copyEmail()" placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="buyer.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword)" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}" />
                            <input type="text" ng-model="buyer.username" placeholder="{{ 'USERNAME' | translate}}">
                            <hr>
                            <input type="text" ng-model="buyer.private.name" placeholder="{{ 'NAME' | translate}}"/>
                            <input type="text" ng-model="buyer.private.lastName" placeholder="{{ 'SURNAME' | translate}}"/>
                            <input type="text" ng-model="buyer.private.address" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="buyer.private.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="buyer.private.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="buyer.private.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                        </div>
                        <div ng-if="userType == distributorUserType">
                            <input type="email" ng-model="distributor.email"ng-change="copyEmail()"  placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="distributor.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword)" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"/>
                            <input type="text" ng-model="distributor.username" placeholder="{{ 'USERNAME' | translate}}">
                            <hr>
                            <input type="text" ng-model="distributor.company.name" placeholder="{{ 'COMPANY_NAME' | translate}}"/>
                            <input type="text" ng-model="distributor.company.account" placeholder="{{ 'BANK_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.taxNum" placeholder="{{ 'TAX_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.companyNum" placeholder="{{ 'PIB_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.businessActivityCode" placeholder="{{ 'BUSSINESS_ACT_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.address" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="distributor.company.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="distributor.company.phoneNum" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.company.fax" placeholder="{{ 'FAX_NUMBER' | translate}}"/>
                        </div>
                        <div ng-if="userType == farmerUserType">
                            <input type="email" ng-model="farmer.email" ng-change="copyEmail()" placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="farmer.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword)" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"/>
                            <input type="text" ng-model="farmer.username" placeholder="{{ 'USERNAME' | translate}}"/>
                            <hr>
                            <input type="text" ng-model="farmer.company.name" placeholder="{{ 'FARM_NAME' | translate}}"/>
                            <input type="text" ng-model="farmer.company.account" placeholder="{{ 'BANK_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.taxNum" placeholder="{{ 'TAX_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.companyNum" placeholder="{{ 'PIB_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.businessActivityCode" placeholder="{{ 'BUSSINESS_ACT_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.address" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="farmer.company.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="farmer.company.phoneNum" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.company.fax" placeholder="{{ 'FAX_NUMBER' | translate}}"/>
                        </div>
                        <button ng-if="userType.length > 0" class="btn btn-default" ng-click="register()">{{'REGISTER' | translate}}</button>
                    </form>
                </div>
                <!--/sign up form-->
                <script type="text/ng-template" id="userActivateModal.html">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancelModal()">&times;</button>
                        <h4 class="modal-title">{{ 'USER_ACTIVATION' | translate}}</h4>
                    </div>
                    <div class="modal-body">
                        <p>{{ 'ACTIVATION_LINK_SENT_MSG' | translate}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default check_out"
                                ng-click="goToLogin()">{{ 'OK' |
                            translate}}
                        </button>
                    </div>
                </script>
            </div>
        </div>
    </div>
</section><!--/form-->


<div ng-include="'partials/footer.html'"></div>