<header id="header" data-ng-init="initGeo()"><!--header-->
    <div class="header_top"><!--header_top-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="contactinfo">
                        <ul class="nav nav-pills">
                            <li><a href="#"><i class="fa fa-phone"></i> +381 21 1101100</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i> info@pays.rs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="social-icons pull-right">
                        <ul class="nav navbar-nav">
                            <li><a ng-click="translate('rs')" class="hover"><img
                                    src="images/flag_serbian.gif"></img></a></li>
                            <li><a ng-click="translate('en')" class="hover"><img src="images/uk.png"></img></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header_top-->

    <div class="header-middle"><!--header-middle-->
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="logo pull-left">
                        <a href="#/"><img src="images/home/logo.png" alt=""/></a>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><i class="fa fa-user"></i> {{ 'ACCOUNT' | translate}}</a></li>
                            <li><a href="#/wishlist"><i class="fa fa-star"></i> {{ 'WISHLIST' | translate}} <span
                                    class="badge alert-warning">{{wishlistItems}}</span></a></li>
                            <li><a href="checkout.html"><i class="fa fa-crosshairs"></i> {{ 'SHOPPING' | translate}}</a>
                            </li>
                            <li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{ 'CART' | translate}} <span
                                    class="badge alert-success">{{price}}</span></a></li>
                            <li><a href="#/checkout"> {{ 'PAY' | translate}}</a></li>
                            <li><a href="#/login"><i class="fa fa-lock"></i> {{ 'LOGIN' | translate}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-middle-->

    <div class="header-bottom"><!--header-bottom-->
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                                data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="mainmenu pull-left">
                        <ul class="nav navbar-nav collapse navbar-collapse">
                            <li><a href="index.html" class="active">Početna</a></li>
                            <li class="dropdown"><a href="#">Prodavnica<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="shop.html">Proizvodi</a></li>
                                    <li><a href="product-details.html">Detalji proizvoda</a></li>
                                    <li><a href="checkout.html">Kupovina</a></li>
                                    <li><a href="cart.html">Korpa</a></li>
                                    <li><a href="login.html">Ulaz</a></li>
                                </ul>
                            </li>
                            <li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="blog.html">Lista blogova</a></li>
                                    <li><a href="blog-single.html">Jedan blog</a></li>
                                </ul>
                            </li>
                            <li><a href="404.html">Za prodavce</a></li>
                            <li><a href="#/distributor/1/">Za distributere</a></li>
                            <li><a href="contact-us.html">Kontaktirajte nas</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/header-bottom-->
</header><!--/header-->
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="signup-form"><!--sign up form Postani novi kupac-->
                    <h2>{{ 'NEW_ACCOUNT' | translate }}</h2>

                    <form>
                        <label>{{ 'USER_TYPE' | translate}}</label>
                        <select ng-model="userType" class="cursorhover">
                            <option ng-repeat="type in userTypes" value="{{type.id}}">{{type.name | translate | html}}
                            </option>
                        </select>
                        <hr>
                        <div ng-if="userType == 1">
                            <input type="email" ng-model="buyer.email" ng-change="copyEmail()" placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="buyer.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="buyer.confPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"/>
                            <input type="text" ng-model="buyer.username" placeholder="{{ 'USERNAME' | translate}}">
                            <hr>
                            <input type="text" ng-model="buyer.nameSurname" placeholder="{{ 'NAME_SURNAME' | translate}}"/>
                            <input type="text" ng-model="buyer.streetAndNr" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="buyer.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="buyer.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="buyer.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                        </div>
                        <div ng-if="userType == 2">
                            <input type="email" ng-model="distributor.email"ng-change="copyEmail()"  placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="distributor.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="distributor.confPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"/>
                            <input type="text" ng-model="distributor.username" placeholder="{{ 'USERNAME' | translate}}"/>
                            <hr>
                            <input type="text" ng-model="distributor.companyName" placeholder="{{ 'COMPANY_NAME' | translate}}"/>
                            <input type="text" ng-model="distributor.streetAndNr" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="distributor.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="distributor.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="distributor.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                        </div>
                        <div ng-if="userType == 3">
                            <input type="email" ng-model="farmer.email" ng-change="copyEmail()" placeholder="{{ 'EMAIL' | translate}}"/>
                            <input type="password" ng-model="farmer.password" placeholder="{{ 'PASSWORD' | translate}}"/>
                            <input type="password" ng-model="farmer.confPassword" placeholder="{{ 'CONFIRM_PASSWORD' | translate}}"/>
                            <input type="text" ng-model="farmer.username" placeholder="{{ 'USERNAME' | translate}}"/>
                            <hr>
                            <input type="text" ng-model="farmer.farmName" placeholder="{{ 'FARM_NAME' | translate}}"/>
                            <input type="text" ng-model="farmer.streetAndNr" placeholder="{{'STREET_AND_NUMBER' | translate}}"/>
                            <input type="text" ng-model="farmer.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"/>
                            <input type="text" ng-model="farmer.city" placeholder="{{'CITY' | translate}}"/>
                            <input type="text" ng-model="farmer.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}"/>
                        </div>
                        <button ng-if="userType != 0" class="btn btn-default" ng-click="register()">{{'REGISTER' | translate}}</button>
                    </form>
                </div>
                <!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->


<footer id="footer"><!--Footer-->
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Service</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Online Help</a></li>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Order Status</a></li>
                            <li><a href="">Change Location</a></li>
                            <li><a href="">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Quock Shop</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">T-Shirt</a></li>
                            <li><a href="">Mens</a></li>
                            <li><a href="">Womens</a></li>
                            <li><a href="">Gift Cards</a></li>
                            <li><a href="">Shoes</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>Policies</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Terms of Use</a></li>
                            <li><a href="">Privecy Policy</a></li>
                            <li><a href="">Refund Policy</a></li>
                            <li><a href="">Billing System</a></li>
                            <li><a href="">Ticket System</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="single-widget">
                        <h2>About Shopper</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="">Company Information</a></li>
                            <li><a href="">Careers</a></li>
                            <li><a href="">Store Location</a></li>
                            <li><a href="">Affillate Program</a></li>
                            <li><a href="">Copyright</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 col-sm-offset-1">
                    <div class="single-widget">
                        <h2>About Shopper</h2>

                        <form action="#" class="searchform">
                            <input type="text" placeholder="Your email address"/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i>
                            </button>
                            <p>Get the most recent updates from <br/>our site and be updated your self...</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">Copyright © 2013 E-SHOPPER Inc. All rights reserved.</p>

                <p class="pull-right">Designed by <span><a target="_blank"
                                                           href="http://www.themeum.com">Themeum</a></span></p>
            </div>
        </div>
    </div>

</footer><!--/Footer-->
