<header id="header"><!--header-->
  <div ng-include="'partials/navBar.html'" ng-controller="navbarCtrl"></div>
</header><!--/header-->

<section id="form" class="register-form"><!--form-->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="signup-form"><!--sign up form Postani novi kupac-->
          <h2>{{ 'NEW_ACCOUNT' | translate }}</h2>

          <form>
            <label>{{ 'USER_TYPE' | translate}}</label>
            <select ng-model="userType" class="cursorhover form-control">
              <option ng-repeat="type in userTypes" value="{{type.id}}">{{type.name | translate | html}}
              </option>
            </select>
            <hr>
          </form>
          <form name="userForm" id="userForm" ng-if="userType == buyerUserType" novalidate>
            <div>

              <input type="email" ng-model="buyer.email" ng-change="copyEmail()" placeholder="{{ 'EMAIL' | translate}}"
                     required/>
              <input type="password" ng-model="buyer.password" placeholder="{{ 'PASSWORD' | translate}}" required/>
              <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword,true)"
                     placeholder="{{ 'CONFIRM_PASSWORD' | translate}}" required/>
              <input type="text" ng-model="buyer.username" placeholder="{{ 'USERNAME' | translate}}" required>
              <hr>
              <input type="text" ng-model="buyer.private.name" placeholder="{{ 'NAME' | translate}}" required/>
              <input type="text" ng-model="buyer.private.lastName" placeholder="{{ 'SURNAME' | translate}}" required/>
              <input type="text" ng-model="buyer.private.address" placeholder="{{'STREET_AND_NUMBER' | translate}}"
                     required/>
              <input type="text" ng-model="buyer.private.postalCode" placeholder="{{'POSTAL_CODE' | translate}}"
                     required/>
              <input type="text" ng-model="buyer.private.city" placeholder="{{'CITY' | translate}}" required/>
              <input type="text" ng-model="buyer.private.phone" placeholder="{{ 'PHONE_NUMBER' | translate}}" required/>
            </div>
            <div>
              <div class="loading-min-height" cg-busy="{promise:registerDeffered.promise,message:waitMsg,backdrop:true}"></div>
              <button class="btn btn-default" ng-disabled="userForm.$invalid || !validatePassword(confPassword,false) || (registerDeffered != null && registerDeffered.promise.$$state.status == 0)" ng-click="register()">{{'REGISTER' |
                translate}}
              </button>
            </div>
          </form>
          <form name="distributorForm" id="distributorForm" ng-if="userType == distributorUserType">
            <div>
              <input type="email" ng-model="distributor.email" ng-change="copyEmail()"
                     placeholder="{{ 'EMAIL' | translate}}" required/>
              <input type="password" ng-model="distributor.password" placeholder="{{ 'PASSWORD' | translate}}" required/>
              <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword,true)"
                     placeholder="{{ 'CONFIRM_PASSWORD' | translate}}" required/>
              <input type="text" ng-model="distributor.username" placeholder="{{ 'USERNAME' | translate}}" required>
              <hr>
              <input type="text" ng-model="distributor.company.name" placeholder="{{ 'COMPANY_NAME' | translate}}" required/>
              <input type="text" ng-model="distributor.company.account" placeholder="{{ 'BANK_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.taxNum" placeholder="{{ 'TAX_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.companyNum" placeholder="{{ 'PIB_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.businessActivityCode"
                     placeholder="{{ 'BUSSINESS_ACT_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.address"
                     placeholder="{{'STREET_AND_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.postalCode" placeholder="{{'POSTAL_CODE' | translate}}" required/>
              <input type="text" ng-model="distributor.company.city" placeholder="{{'CITY' | translate}}" required/>
              <input type="text" ng-model="distributor.company.phoneNum" placeholder="{{ 'PHONE_NUMBER' | translate}}" required/>
              <input type="text" ng-model="distributor.company.fax" placeholder="{{ 'FAX_NUMBER' | translate}}"/>
            </div>
            <div class="loading-min-height" cg-busy="{promise:registerDeffered.promise,message:waitMsg,backdrop:true}"></div>
            <button class="btn btn-default" ng-disabled="distributorForm.$invalid || !validatePassword(confPassword,false) || (registerDeffered != null && registerDeffered.promise.$$state.status == 0)" ng-click="register()">{{'REGISTER' |
              translate}}
            </button>
          </form>
          <form name="farmerForm" id="farmerForm" ng-if="userType == farmerUserType">
            <div>
              <input type="email" ng-model="farmer.email" ng-change="copyEmail()"
                     placeholder="{{ 'EMAIL' | translate}}" required/>
              <input type="password" ng-model="farmer.password" placeholder="{{ 'PASSWORD' | translate}}" required/>
              <input type="password" ng-model="confPassword" ng-change="validatePassword(confPassword,true)"
                     placeholder="{{ 'CONFIRM_PASSWORD' | translate}}" required/>
              <input type="text" ng-model="farmer.username" placeholder="{{ 'USERNAME' | translate}}" required/>
              <hr>
              <input type="text" ng-model="farmer.company.name" placeholder="{{ 'FARM_NAME' | translate}}" required/>
              <input type="text" ng-model="farmer.company.account" placeholder="{{ 'BANK_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.taxNum" placeholder="{{ 'TAX_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.companyNum" placeholder="{{ 'PIB_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.businessActivityCode"
                     placeholder="{{ 'BUSSINESS_ACT_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.address" placeholder="{{'STREET_AND_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.postalCode" placeholder="{{'POSTAL_CODE' | translate}}" required/>
              <input type="text" ng-model="farmer.company.city" placeholder="{{'CITY' | translate}}" required/>
              <input type="text" ng-model="farmer.company.phoneNum" placeholder="{{ 'PHONE_NUMBER' | translate}}" required/>
              <input type="text" ng-model="farmer.company.fax" placeholder="{{ 'FAX_NUMBER' | translate}}"/>
            </div>
            <div class="loading-min-height" cg-busy="{promise:registerDeffered.promise,message:waitMsg,backdrop:true}"></div>
            <button class="btn btn-default" ng-disabled="farmerForm.$invalid || !validatePassword(confPassword,false) || (registerDeffered != null && registerDeffered.promise.$$state.status == 0)" ng-click="register()">{{'REGISTER' |
              translate}}
            </button>
          </form>
        </div>
        <!--/sign up form-->
        <script type="text/ng-template" id="userActivateModal.html">
          <div class="modal-header">
            <button type="button" class="close" ng-click="cancelModal()">&times;</button>
            <h4 class="modal-title">{{ 'USER_ACTIVATION' | translate}}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'ACTIVATION_LINK_SENT_MSG' | translate}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default check_out"
                    ng-click="goToLogin()">{{ 'OK' |
              translate}}
            </button>
          </div>
        </script>
      </div>
    </div>
  </div>
</section><!--/form-->


<div ng-include="'partials/footer.html'"></div>