<header id="header"><!--header-->
	<div ng-include="'partials/navBar.html'"></div>
</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#/pays">Home</a></li>
				  <li class="active">Lista želja</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Proizvod</td>
							<td class="description"></td>
							<td class="price">Cena</td>
							<td class="quantity">Količina</td>
							<td class="total">Ukupno</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in wishlistItems">
							<td class="cart_product">
								<a href=""><img src="{{item.image}}" alt="{{item.itemName}}" style="width:128px;height:128px;"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{item.itemName}}</a></h4>
								<p>ID proizvoda: {{item.itemId}}</p>
								<p>Farmer: {{item.farmer}}</p>
								<p>Lokacija: {{item.farmerLocation}}</p>
							</td>
							<td class="cart_price">
								<p>{{item.itemPrice}} RSD / {{item.itemMeasure}}</p>
							</td>
							<td class="cart_quantity">
							
										<div class="cart_quantity_button">
											<a class="cart_quantity_up" ng-click="more(item.itemId, item.farmerId)"> + </a>
											<input class="cart_quantity_input" type="text" name="quantity" ng-model="item.itemNum" autocomplete="off" size="2">
											<a class="cart_quantity_down" ng-click="less(item.itemId, item.farmerId)"> - </a>
										</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.itemPrice * item.itemNum}} RSD</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" ng-click="remove(item.itemId, item.farmerId)"><i class="fa fa-times"></i></a>
								<a class="cart_quantity_delete" ng-click="putToCart(item.itemId, item.farmerId)"><i class="fa fa-shopping-cart"></i></a>
							</td>
								
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

<div ng-include="'partials/footer.html'"></div>