<header id="header"><!--header-->
	<div class="header_top"><!--header_top-->
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="contactinfo">
						<ul class="nav nav-pills">
							<li><a href="#"><i class="fa fa-phone"></i> {{paysPhone}}</a></li>
							<li><a href="#"><i class="fa fa-envelope"></i> {{paysEMail}}</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="social-icons pull-right">
						<ul class="nav navbar-nav">
							<li><a ng-click="translate('rs')" class="hover"><img src="images/sr.jpg"></a></li>
							<li><a ng-click="translate('en')" class="hover"><img src="images/uk.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header_top-->

	<div class="header-middle"><!--header-middle-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="logo pull-left">
						<a href="#/"><img src="images/home/logo.png" alt=""/></a>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="shop-menu pull-right">
						<ul class="nav navbar-nav">
							<li><a href="#/404"><i class="fa fa-user"></i> {{ 'ACCOUNT' | translate}}</a></li>
							<li><a href="#/404"><i class="fa fa-star"></i> {{ 'WISHLIST' | translate}} <span
									class="badge alert-warning">{{wishlistItems}}</span></a></li>
							<li><a href="#/cart"><i class="fa fa-shopping-cart"></i> {{ 'CART' | translate}} <span
									class="badge alert-success">{{price}}</span></a></li>
							<li><a href="#/checkout"> {{ 'PAY' | translate}}</a></li>
							<li><a href="#/login"><i class="fa fa-lock"></i> {{ 'LOGIN' | translate}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-middle-->

	<div class="header-bottom"><!--header-bottom-->
		<div class="container">
			<div class="row">
				<div class="col-sm-10">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
					<div class="mainmenu pull-left">
						<ul class="nav navbar-nav collapse navbar-collapse">
							<li><a href="#/" class="active">{{ 'SHOP' | translate}}</a></li>
							<li><a href="#/404">{{ 'FOR_FARMERS' | translate}}</a></li>
							<li><a href="#/distributor/1">{{ 'FOR_DISTRIBUTORS' | translate}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/header-bottom-->
</header><!--/header-->

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#/pays">Home</a></li>
				  <li class="active">Lista želja</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Proizvod</td>
							<td class="description"></td>
							<td class="price">Cena</td>
							<td class="quantity">Količina</td>
							<td class="total">Ukupno</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat = "item in wishlistItems">
							<td class="cart_product">
								<a href=""><img src="{{item.image}}" alt="{{item.itemName}}" style="width:128px;height:128px;"></a>
							</td>
							<td class="cart_description">
								<h4><a href="">{{item.itemName}}</a></h4>
								<p>ID proizvoda: {{item.itemId}}</p>
								<p>Farmer: {{item.farmer}}</p>
								<p>Lokacija: {{item.farmerLocation}}</p>
							</td>
							<td class="cart_price">
								<p>{{item.itemPrice}} RSD / {{item.itemMeasure}}</p>
							</td>
							<td class="cart_quantity">
							
										<div class="cart_quantity_button">
											<a class="cart_quantity_up" ng-click="more(item.itemId, item.farmerId)"> + </a>
											<input class="cart_quantity_input" type="text" name="quantity" ng-model="item.itemNum" autocomplete="off" size="2">
											<a class="cart_quantity_down" ng-click="less(item.itemId, item.farmerId)"> - </a>
										</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">{{item.itemPrice * item.itemNum}} RSD</p>
							</td>
							<td class="cart_delete">
								<a class="cart_quantity_delete" ng-click="remove(item.itemId, item.farmerId)"><i class="fa fa-times"></i></a>
								<a class="cart_quantity_delete" ng-click="putToCart(item.itemId, item.farmerId)"><i class="fa fa-shopping-cart"></i></a>
							</td>
								
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

<footer id="footer"><!--Footer-->
	<div class="footer-widget" ng-if="showFooter">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Service</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Pomoć online</a></li>
							<li><a href="#">Kontaktirajte nas</a></li>
							<li><a href="#">Status narudžbine</a></li>
							<li><a href="#">Promeni lične podatke</a></li>
							<li><a href="#">Česta pitanja</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>Policies</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Uslovi korišćenja</a></li>
							<li><a href="#">Privatnost</a></li>
							<li><a href="#">Povrat novca</a></li>
							<li><a href="#">Sistem naplate</a></li>
							<li><a href="#">Sistem dostave proizvoda</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-2">
					<div class="single-widget">
						<h2>O PAYS-u</h2>
						<ul class="nav nav-pills nav-stacked">
							<li><a href="#">Ko smo mi?</a></li>
							<li><a href="#">Kontaktirajte nas</a></li>
							<li><a href="#">Pridružite nam se</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3 col-sm-offset-1">
					<div class="single-widget">
						<h2>O PAYS-u</h2>

						<form action="#" class="searchform">
							<input type="text" placeholder="Vaša mejl adresa"/>
							<button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i>
							</button>
							<p>Primite najnovije ponude na vašu mejl adresu <br/>i kupujte po najpovoljnijim cenama...
							</p>
						</form>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row">
				<p class="pull-left">Copyright © 2015 PAYS. {{'ALL_RIGHTS_RESERVED' | translate}}.</p>
			</div>
		</div>
	</div>

</footer>