.cartitempicture {
    height: 128px;
    width: 128px;
}

.farmerimage {
    border: 3px solid orange !important;
    border-radius: 20px !important;
}

.cursorhover {
    cursor: pointer;
}

.actionbar {
    margin-left: 0px;
    width: 100%;
}

.fromtop {
    margin-top: 10px;
}

.orangeborder {
    border: 2px solid orange;
}

.orangehr {
    border-top: 3px solid orange;
    width: 100%;
    float: left;
}

.notopborder {
    border-top: 0px !important;
}

.dropdownlist {
    background-color: #ddd;
}

.dropdownaction {
    background: #aaa !important;
}

.dropdownaction:HOVER {
    background: orange !important;
}

.hover {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

.collapsed_checkbox {
    margin: 0px;
}

.left_padding_35px {
    padding-left: 35px;
}

.left_padding_45px {
    padding-left: 45px;
}

.mt20 {
    margin-top: 20px;
}

.mt10 {
    margin-top: 10px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mb100 {
    margin-bottom: 200px;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}

.filled {
    color: #fd0;
}

.not_filled {
    color: #999;
}

#priceTable tr td {
    padding: 1px;
}

#priceTable tr td h5 {
    font-size: 12px
}

.login_form {
    padding: 15px;
    border: 1px solid #F0F0E9;
    padding-top: 0px;
}

.pays_footer {
    position: fixed;
    bottom: 0px !important;
    width: 100%;
}

input[required] {
    background-image: url('../images/asterisk16.png') !important;
    background-repeat: no-repeat !important;
    background-position: right !important;
    background-position-y: top !important;
}

.bubble {
    position: relative;
    width: 70%;
    min-height: 100px;
    padding: 9px;
    background: #75c5cf;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    border: #35929e solid 2px;
    color: #ffffff;
    margin-bottom: 15px;
    margin-left: 15%;
    word-wrap: break-word;
}

.break_word {
    word-wrap: break-word;
}

.review-backgorund {
    background: #75c5cf;
}

.fix-to-top {
    position: fixed;
    top: 100px;
    right: 5px;
    display: block !important;
}

.fix-to-top-search {
    max-width: 170px;
    height: 100px;
    position: fixed;
    top: 150px;
    right: 5px;
    display: block !important;
    z-index: 1000;
}

.floating_cart {
    display: none;
    max-width: 250px;
    height: 40px;
    background-color: #FE980F;
    z-index: 1000;
    font-size: 14px !important;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.floating_link {
    color: white;
}

.floating_badge {
    min-width: 18px !important;
    min-height: 18px !important;
    border-radius: 8px;
    font-size: 14px;
}

.paysCaption {

}

@media screen and (min-width: 768px) and (max-device-width: 1768px) {
    .paysCaption {
        top: -100px;
        left: 800px;
        max-width: 300px;
    }
}

@media screen and (min-width: 1768px) {
    .paysCaption {
        top: -100px;
        left: 1000px;
        max-width: 300px;
    }
}

.paysCaptionAlt {

}

@media screen and (min-width: 768px) and (max-device-width: 1768px) {
    .paysCaptionAlt {
        top: -100px;
        left: 200px;
        max-width: 300px;
    }
}

@media screen and (min-width: 1768px) {
    .paysCaptionAlt {
        top: -120px;
        left: 500px;
        max-width: 300px;
    }
}

@media screen and (min-width: 1768px) {
    .imgShift {
        margin-left: 200px;
    }
}

@media screen and (min-width: 1768px) {
    .imgShift_v {
        margin-left: 500px;
    }
}

.mainPageContainer {
    margin-top: 20px;
}

.box {
    background-color: #F0F0E9;
    min-height: 200px;
    padding: 15px;
    margin: 15px;
}

.greenTxt {
    color: green !important;
}

.orangeTxt {
    color: orange;
}

.darnOrangeTxt {
    color: #e48201;
}

.boxTxt {
    font-size: 12px;
}

.hrBox {
    border-top: 1px solid #999999 !important;
}

.subtitle-center {
    background-color: #F0F0E9;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
    height: 30px;
    margin-bottom: 20px;
}

.subtitle-header {
    padding-top: 7px;
    background-color: #F0F0E9;
}

.paysCarrousel {
    top: 40% !important;
}

.paysCarrouselLeft {
    padding-left: 20px !important;
}

.paysCarrouselRight {
    padding-right: 20px !important;
}

.paysCarrouselHolder {
    padding: 0px !important;
}

.carrouselItemFirst {
    background-image: url('/images/carrousel/pays_green.jpg');
    height: 100%;
}

.carrouselItemSecond {
    background-image: url('/images/carrousel/pays_green.jpg');
    height: 100%;
}

.carrouselItemThird {
    background-image: url('/images/carrousel/pays_green.jpg');
    height: 100%;
}

.opacTitle {
    background-color: rgba(255, 255, 255, 0.4);
}

.opacTitlePadded {
    padding: 5px;
    margin-bottom: 10px;
}

.opacTitlePaddedInside {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.loading-min-height {
    min-height: 50px;
}

.white-font {
    color: white;
}

.carousel-ml200 {
    margin-left: 200px;
}
.carousel-ml150 {
    margin-left: 150px;
}