.cartitempicture {
    height: 128px;
    width: 128px;
}

.farmerimage {
    border: 3px solid orange !important;
    border-radius: 20px !important;
}

.cursorhover {
    cursor: pointer;
}

.actionbar {
    margin-left: 0px;
    width: 100%;
}

.fromtop {
    margin-top: 10px;
}

.orangeborder {
    border: 2px solid orange;
}

.orangehr {
    border-top: 3px solid orange;
    width: 100%;
    float: left;
}

.notopborder {
    border-top: 0px !important;
}

.dropdownlist {
    background-color: #ddd;
}

.dropdownaction {
    background: #aaa !important;
}

.dropdownaction:HOVER {
    background: orange !important;
}

.hover {
    cursor: pointer;
    margin-left: 15px;
    margin-top: 5px;
}

.collapsed_checkbox {
    margin: 0px;
}

.left_padding_35px {
    padding-left: 35px;
}

.left_padding_45px {
    padding-left: 45px;
}

.mt20 {
    margin-top: 20px;
}

.mtb10 {
    margin-top: 10px;
    margin-bottom : 10px;
}
.mb100 {
    margin-bottom : 200px;
}

.star-rating {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
.filled {
    color: #fd0;
}
.not_filled {
    color: #999;
}

#priceTable tr td {
    padding:1px;
}

#priceTable tr td h5 {
    font-size : 12px
}